{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US" >
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Code Challenges - I'm really afraid of death and don't want to die</title>
    {% block headerSession %}
    {% endblock %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css" >
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" >
</head>
<body class="home blog infinite-scroll">
<div id="page" class="hfeed site">
    {% include "navbar.html" %}
    <div id="content" class="site-content container">
        <div class="container">
            <div class="row">
                {% if hideWdget %}
                    <div id="primary" class="content-area col-sm-12">
                {% else %}
                    <div id="primary" class="content-area col-sm-8">
                {% endif %}
                    {% block contents %}
                   {% include "questions.html" %}
                    {% endblock %}
                </div>

                {% if not hideWdget %}
                    {% include "widget.html" %}
                {% endif %}
            </div>
        </div>
    </div>
    <div id="footer-area">
        <footer id="colophon" class="site-footer" role="contentinfo">
            <div class="site-info container">
                 <div class="copyright col-md-6" >Created by <a href="#">Windows Team </a>  use <a href="https://www.djangoproject.com">Django</a>, theme <a href="https://colorlib.com/dazzling/">dazzling</a> </div>
                <div class="copyright ">
                    DAD Studio © 2017  All rights reserved.
                </div>

            </div>
        </footer>
    </div>
</div>
<script src="{% static 'jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'letteravatar.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(function() {
            var url = window.location.href;
            $(".topmenu a").each(function() {
                if (url == (this.href)) {
                    $(this).closest("li").addClass("active");
                }
            });
        });
        $('.question-content').find('a[href="#"]').on('click', function (e) {
            e.preventDefault();
            this.expand = !this.expand;
            $(this).html(this.expand?'<h4 style="text-align: center"><span class="glyphicon  glyphicon-chevron-up  glyphicon"></span></h4>':'<h4 style="text-align: center"><span class="glyphicon  glyphicon-chevron-down  glyphicon"></span></h4>');
            $(this).closest('.question-content').find('.content-show, .content-hide').toggleClass('content-show content-hide');
        });
    });
</script>
{% block scriptsession %}
{% endblock %}
</body>
</html>