{% extends 'windows/base.html' %}
{% block navbar %}
    <li><a href="/">Home</a></li>
    <li class="active"><a href="/announcement/">Announcements</a></li>
    <li><a href="/activities/">Activities</a></li>
    <li><a href="/report/">Reports</a></li>
    <li><a href="/bem/all/">Bems</a></li>
    <li><a href="/team/all/">Teams</a></li>
    <li><a href="/townhall/">Townhall</a></li>
   <li><a href="/codechallenges/">Code Challenges</a></li>
    <li><a href="/scoreboard/">Scoreboard</a></li>
{% endblock %}
{% block content %}
    <!-- Subheader -->
    <div class="sub-header">
        <div class="container">
            <h4 class="title">Announcements</h4>
            <div class="flex"></div>
            <ol class="breadcrumb">
                <li class="item"><a class="link" href="/">Home</a></li>
                <li class="item active">Announcements</li>
            </ol>
        </div>
    </div><!--/ End Subheader -->
    <div class="main-container">
        <div class="container">
            {% for announ in announcements %}
                <h3 class="announcement-title">{{ announ.title }}</h3>
                <h6>{{ announ.date|date:"M d f" }} - posted by <a href="/profile/{{ announ.author.user.username }}">{{ announ.author.name }}</a></h6>
                <p>{{ announ.content|linebreaks }}</p>
                <hr />
            {% endfor %}
        </div>
    </div>
{% endblock %}