{% extends 'windows/base.html' %}
{% load windows_filter %}
{% block bodyclass %}
    class="landing-page"
{% endblock %}
{% block navbar %}
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/announcement/">Announcements</a></li>
    <li><a href="/activities/">Activities</a></li>
    <li><a href="/report/">Reports</a></li>
    <li><a href="/bem/all/">Bems</a></li>
    <li><a href="/team/all/">Teams</a></li>
    <li><a href="/townhall/">Townhall</a></li>
    <li><a href="/quiz/">Quiz</a></li>
    <li><a href="/scoreboard/">Scoreboard</a></li>
{% endblock %}
{% block content %}
    <!-- Banner -->
    <div class="banner">
        <div class="container">
        </div>
    </div> <!--.Banner -->

    <!-- Introduction -->
    <div class="introduction">
        <div class="container">
            <h2 class="heading-title"></h2>
            <div class="content"></div>
        </div>
    </div> <!--/ End Introduction -->

    <div class="award">
        <div class="container">
            <h2 class="heading-title">Members</h2>
            <br />
            <br />
            <br />
            <div class="content">
                <ul class="list">
                    {% for dev in devs %}
                    <li class="item {% cycle 'top1' 'top2' 'top3' %}">
                        <div class="wrap-image">
                            <a href="/profile/{{ dev.user.username }}"><img class="image" src="{{ dev.user.email|gavatar:240 }}" alt="{{ dev.name }}" title="{{ dev.name }}"></a>
                        </div>
                        <span class="main-text">At gameloft : {{ dev.start|timesince }}</span>
                        <span class="sub-text">{{ dev.name }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div> <!--/ End Award -->

    <script>
        $(document).ready(function () {
            $("#share").jsSocials({
                shares: ["email", "twitter", "facebook", "googleplus", "linkedin"]
            });
        });
    </script>
{% endblock %}

<!-- Footer -->
{% block footer %}
    <div class="container">
        <div class="contact">
            <h3 class="title">Author</h3>
            <ul class="list">
                <li class="item">
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:hop.duongthanh@gameloft.com">hop.duongthanh@gameloft.com</a>
                </li>
                <li class="item">
                    <i class="fa fa-phone"></i>
                    <a href="tel:">01694122063</a>
                </li>
                <li class="item">
                    <i class="fa fa-facebook"></i>
                    <a href="https://facebook.com/DuongThanhHop">https://facebook.com/DuongThanhHop</a>
                </li>
                <li class="item">
                    <i class="fa fa-map-marker"></i>
                    Gameloft Vietnam, 74 Bach Dang, Indochina Riverside Tower, Da Nang
                </li>
            </ul>
        </div>
    </div>
{% endblock %}