<!doctype html>
{% load staticfiles %}
<html>
<head>
    <title>CppQuiz</title>
    <script type="text/javascript" src="{% static 'js/sh_main.js' %}"></script>
    <script type="text/javascript" src="{%  static 'js/sh_cpp.js' %}"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/sh_nedit.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/quiz.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <script type="text/javascript">
        $(document).ready(function() {
            $("select#result").change(function() {
                option = $(this).val();
                if (option == 'OK')
                {
                    $("span#output_form_part").show('fast');
                } else {
                    $("span#output_form_part").hide('fast');
                }
            });
            $('.confirm_hint').click(function(){
                return confirm("Are you sure you want to view the hint? Have you really thought through the question?");
            });
            $('.dismiss_link').click(function(){
                $.ajax('/quiz/dismiss_training_msg');
                $(this).parent().hide(300);
            });
            $('.previous_explanation').hide();
            $('.show_previous_explanation').click(function(){
                $('.previous_explanation').toggle();
            });
            $('p.disabled a').click(function(e) {
                e.preventDefault();
            });
        });
    </script>
</head>
<body onload="sh_highlightDocument();">
<div id="content">
    <h1><a href="/">Hi, {{ user.developer.name }}</a></h1>
    <p id="stats">
        You've answered {{ answered }} of {{ questions }} questions correctly. See the <a href="#">Leaderboard</a>
    </p>
    <div id="main_col">
        <p>
            <span class="about_the_question"><u>Question #{{ quiz.id }}</u> Difficulty: <img src="{% static 'img/level-2.png' %}"></span>
        </p>
        <p>
            {{ quiz.question }}
        </p>

        <pre class="sh_cpp">
{{ quiz.coding }}
        </pre>
        {% if correct %}
            <h2 class="correct">Correct!</h2>
            <div class="correct">
                <pre>{{ quiz.description }}</pre>
            </div>
            <a href="/quiz/">Next question</a>
        {% else %}
            {% if incorrect %}
                <h2 class="incorrect">Incorrect!</h2>
            {% endif %}
            <form role="form" action="/quiz/" method="POST">
                {% csrf_token %}
                <p>
                    Answer:
                    <select name="result" id="result">
                        <option value="OK">The program is guaranteed to output:</option>
                        <option value="CE">The program has a compilation error</option>
                        <option value="US">The program is unspecified / implementation defined</option>
                        <option value="UD">The program is undefined</option>
                    </select>
                    <span id="output_form_part">
                        <input name="answer" size="4" autocomplete="off">
                    </span>
                    <span style="display:none;"><input id="quiz_id" name="quiz_id" type="hidden" value="{{ quiz.id }}"></span>
                    <input type="submit" value="Submit" name="did_answer">
                </p>
            </form>
            <p>Give up? try <a href="/quiz/">another question</a>.</p>
        {% endif %}

    </div>
    <div id="right_col">
        <h4 class="quiz_mode">C++ Quiz</h4>
        <p>Shout out to 2017 PRG C++ Quiz, are you ready for this exciting challenge? Let’s join us to refresh your programming knowledge and skills!</p>
        <h4>Contribute</h4>
        <p>
            <a href="#">Create your own!</a>
        </p>
    </div>
    <hr class=clear>
    <hr>
</div>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40159458-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>

