{% extends 'windows/base.html' %}
{% load windows_filter %}
{% block navbar %}
    <li><a href="/">Home</a></li>
    <li><a href="/announcement/">Announcements</a></li>
    <li><a href="/activities/">Activities</a></li>
    <li><a href="/report/">Reports</a></li>
    <li><a href="/bem/all/">Bems</a></li>
    <li class="active"><a href="/team/all/">Teams</a></li>
    <li><a href="/townhall/">Townhall</a></li>
  <li><a href="/codechallenges/">Code Challenges</a></li>
    <li><a href="/scoreboard/">Scoreboard</a></li>
{% endblock %}
{% block content %}
    <!-- Subheader -->
    <div class="sub-header">
        <div class="container">
            <h4 class="title">Teams</h4>
            <div class="flex"></div>
            <ol class="breadcrumb">
                <li class="item"><a class="link" href="/">Home</a></li>
                <li class="item active">Teams</li>
            </ol>
        </div>
    </div>
    <!-- End Subheader -->

    <!-- Team main content -->
    {% if teams %}
        <div class="team-main-content">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-12">
                        <table class="table table-bordered table-customize table-responsive">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Members</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for team in teams %}
                                <tr>
                                    <td data-title="Name"><a href="/team/{{ team.id }}">{{ team.name }}</a></td>
                                    <td data-title="Description">{{ team.description }}</td>
                                    <td data-title="Members" class="team-members">
                                        <ul>
                                            {% for member in team.developer_set.all %}
                                                <li><a href="/profile/{{ member.user.username }}"><img src="{{ member.user.email|gavatar:23 }}" title="{{ member.name }}" alt="{{ member.name }}"></a></li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <!-- Team details main content -->
        <div class="main-container page-team-detail">
            <div class="container">
                <div class="team-intro">
                    <div class="team-title">
                        <h1>{{ team.name }}</h1>
                    </div>
                    <div class="team-details">
                        <div class="row">
                            <div class="team-reward col-md-6 col-xs-12">
                                <ul>
                                    {% for member in team.developer_set.all %}
                                        <li><a href="/profile/{{ member.user.username }}"><img src="{{ member.user.email|gavatar:23 }}" alt="{{ member.name }}" title="{{ member.name }}"></a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-achievements">
                    <h3>Achievements</h3>
                    <table class="table table-bordered table-customize table-responsive">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>User</th>
                            <th>When</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for member in team.developer_set.all %}
                            {% for bem in member.bem_set.all %}
                                <tr>
                                    <td data-title="Name"><a herf="#">BEM in {{ bem.month_name }}</a></td>
                                    <td data-title="User"><a href="/profile/{{ member.user.username }}"><img src="{{ member.user.email|gavatar:24 }}" alt="{{ member.name }}" title="{{ member.name }}">&nbsp;<span class="text-default">{{ member.name }}</span></a></td>
                                    <td data-title="When">{{ bem.date }}</td>
                                </tr>
                            {% endfor %}
                            {% for acvm in member.achievement_set.all %}
                                <tr>
                                    <td data-title="Name"><a href="{{ acvm.link }}">{{ acvm.name }}</a></td>
                                    <td data-title="User"><a href="/profile/{{ member.user.username }}"><img src="{{ member.user.email|gavatar:24 }}" alt="{{ member.name }}" title="{{ member.name }}">&nbsp;<span class="text-default">{{ member.name }}</span></a></td>
                                    <td data-title="When">{{ acvm.date }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}